<phpunit bootstrap="./bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    syntaxCheck="true">

<testsuites>
    <testsuite name="Application Test Suite">
        <directory>./application</directory>
    </testsuite>
</testsuites>

<filter>
    <blacklist>
        <directory suffix=".php">/usr/share/php</directory>
        <directory suffix=".php">../tests</directory>
        <directory suffix=".php">./library</directory>
    </blacklist>
    <whitelist>
        <directory suffix=".php">../application/modules</directory>
        <exclude>
            <directory suffix=".phtml">../application</directory>
            <file>../application/Bootstrap.php</file>
        </exclude>
    </whitelist>
</filter>

<logging>
    <log type="coverage-html" target="./report" charset="UTF-8" yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
</logging>


</phpunit>
