<?xml version="1.0" encoding="UTF-8"?>
<configdata>
    <production>
        <mvc>
            <default>
                <index>
                    <index allow="guest" />
                    <about allow="guest" />
                    <dologin allow="user" />
                </index> 
                <error allow="guest" />
            </default>
        </mvc>
   </production>
</configdata>