<?xml version="1.0" encoding="UTF-8"?>
<configdata>
    <production>
        <routes>
            <error type="Zend_Controller_Router_Route_Static">
                <route value="error" />
                <defaults>
                    <module value="default" />
                    <controller value="error" />
                    <action value="error" />
                </defaults>
            </error>
            <search type="Zend_Controller_Router_Route_Static">
                <route value="search" />
                <defaults>
                    <module value="default" />
                    <controller value="search" />
                    <action value="index" />
                </defaults>
            </search>
        </routes>
    </production>
</configdata>
