[production]
[development : production]
;PHP settings
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
phpSettings.log_errors = 1

; Connection for Zend_Db
resources.db.adapter = pdo_mysql
resources.db.params.host = localhost
resources.db.params.username = root
resources.db.params.password = 123456
resources.db.params.dbname = zend
resources.db.params.charset = utf8
resources.db.isDefaultTableAdapter = true
;resources.db.DefaultMetadataCache = true

;Disable cache
resources.cachemanager.routes.disable = true
resources.cachemanager.translate.disable = true
resources.cachemanager.acl.disable = true
resources.cachemanager.navigation.disable = true

;Controller setup
resources.frontcontroller.params.displayExceptions = true

; Enable plugins in ZFDebug
resources.debug.plugins.0 = Variables
resources.debug.plugins.1 = Memory
resources.debug.plugins.2 = Auth
resources.debug.plugins.Auth.user = email
resources.debug.plugins.Auth.role = role
resources.debug.plugins.3 = Time
resources.debug.plugins.4 = Registry

; -- Cache
; Translate
;resources.cachemanager.translate.frontend.name = Core
;resources.cachemanager.translate.frontend.options.lifetime = 7200
;resources.cachemanager.translate.frontend.options.automatic_serialization = true
;resources.cachemanager.translate.backend.name = Apc
; Routes
;resources.cachemanager.routes.frontend.name = Core
;resources.cachemanager.routes.frontend.options.lifetime = 7200
;resources.cachemanager.routes.frontend.options.automatic_serialization = true
;resources.cachemanager.routes.backend.name = Apc
; Acl
;resources.cachemanager.acl.frontend.name = Core
;resources.cachemanager.acl.frontend.options.lifetime = 7200
;resources.cachemanager.acl.frontend.options.automatic_serialization = true
;resources.cachemanager.acl.backend.name = Apc
; Navigation
;resources.cachemanager.navigation.frontend.name = Core
;resources.cachemanager.navigation.frontend.options.lifetime = 7200
;resources.cachemanager.navigation.frontend.options.automatic_serialization = true
;resources.cachemanager.navigation.backend.name = Apc
